<tm-shell
  *ngIf="showShell; else bare"
  [sections]="navSections"
>
  <tm-topbar
    [title]="pageTitle()"
    [user]="topbarUser"
    [showLiveOperations]="showLiveOperations"
    (menuClick)="openMobileNav()"
    (profile)="goProfile()"
    (logout)="logout()"
    (liveOperationsClick)="goLiveOperations()"
    (notificationsClick)="goNotifications()"
  >
    <tm-city-switcher slot="lead" *ngIf="showCitySwitcher()" />
  </tm-topbar>

  <div class="page-outlet">
    <router-outlet />
  </div>
</tm-shell>

<ng-template #bare>
  <main class="bare" [class.bare--full]="isFullScreenRoute">
    <router-outlet />
  </main>
</ng-template>

<tm-toast />
