<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="book" href="/customer-tabs/book">
      <ion-icon name="add-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>Book</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-trips" href="/customer-tabs/my-trips">
      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
      <ion-label>My Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" href="/customer-tabs/more">
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

