<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom" class="dc-tabbar" [class.tabbar-hidden]="hideTabBar">
    <ion-tab-button tab="book" href="/customer-tabs/book" class="dc-tab dc-press">
      <span class="dc-tab-glow" aria-hidden="true"></span>
      <ion-icon name="navigate-outline" aria-hidden="true"></ion-icon>
      <ion-label>Ride</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-trips" href="/customer-tabs/my-trips" class="dc-tab dc-press">
      <span class="dc-tab-glow" aria-hidden="true"></span>
      <ion-icon name="car-sport-outline" aria-hidden="true"></ion-icon>
      <ion-label>Private</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
