<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="speedometer-outline" aria-hidden="true"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="rides" href="/tabs/rides">
      <ion-icon name="car-outline" aria-hidden="true"></ion-icon>
      <ion-label>Rides</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="earnings" href="/tabs/earnings">
      <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
      <ion-label>Earnings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fixed" href="/tabs/fixed">
      <ion-icon name="git-branch-outline" aria-hidden="true"></ion-icon>
      <ion-label>Fixed</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
