<ion-content class="splash-content" [fullscreen]="true">
  <div class="splash-wrapper">
    <!-- Centered Visual Logo Block -->
    <div class="splash-logo-container">
      <div class="splash-logo-circle">
        <div class="logo-square-dot"></div>
        <div class="logo-square-dot"></div>
        <div class="logo-green-chevron"></div>
      </div>
      
      <!-- Brand Typography -->
      <h1 class="splash-logo-text">
        <span class="text-white">Taxi</span><span class="text-primary">Mode</span>
      </h1>
    </div>
  </div>
</ion-content>
